<div class="container">

<div *ngIf="!auth.isLoggedIn">
  <div *ngIf="toggle">
    <h1>Sign Up</h1>

    <div class="form-group">
	     <label for="email">Email address</label>
	      <input [(ngModel)]="email" type="email" class="form-control" id="email" placeholder="Enter email">
    </div>

    <div class="form-group">
	     <label for="lat">Latitude</label>
	      <input [(ngModel)]="lat"  class="form-control" id="lat" placeholder="Enter Latitude">
    </div>

    <div class="form-group">
	     <label for="lng">Longitude</label>
	      <input [(ngModel)]="lng"  class="form-control" id="lng" placeholder="Enter Longitude">
    </div>

    <div class="form-group">
	     <label for="password">Password</label>
	      <input [(ngModel)]="password" type="password" class="form-control" id="password" placeholder="Password">
    </div>



	  <button (click)="signUp(email, password, lat, lng)" type="button" class="btn btn-outline-primary">
		    Sign Up
	  </button>

    <button (click)="toggleflip()" type="button" class="btn btn-outline-primary">
		    Go to Log In
	  </button>

  </div>

  <div *ngIf="!toggle">
    <h1>Log in</h1>

    <div class="form-group">
	     <label for="email">Email address</label>
	      <input [(ngModel)]="email" type="email" class="form-control" id="email" placeholder="Enter email">
    </div>

    <div class="form-group">
	     <label for="password">Password</label>
	      <input [(ngModel)]="password" type="password" class="form-control" id="password" placeholder="Password">
    </div>

	  <button (click)="login(email, password)" type="button" class="btn btn-outline-primary">
		    Login
	  </button>

    <button (click)="toggleflip()" type="button" class="btn btn-outline-primary">
		    Go to Sign Up
	  </button>

    </div>
  </div>
  <div *ngIf="auth.isLoggedIn">
    Logged In
    <button (click)="logout()" type="button" class="btn btn-outline-primary">
		    Log Out
	  </button>
  </div>

</div>
